@page "/account/reset-password"
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<IdentityResource> LI
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Identity.Localization
@model Starshine.Abp.Account.Web.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout

@section styles {
    <style>
        :root{
            --bs-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            --bs-gradient-angle: 135deg;
            --bs-error-gradient: linear-gradient(var(--bs-gradient-angle), #ffe7e7 0%, #ffffff 100%);
        }

        body {
            background: linear-gradient(135deg, #e0f7fa, var(--bs-white));
        }
        .card {
            --bs-card-border-width: 0px;
            max-width: 30rem;
        }
        @if (Model.InvalidToken)
        {
            <text>
                .card {
                    border: none;
                    background: var(--bs-error-gradient);
                    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .alert-danger{
                    background: linear-gradient(15deg, #f8d7da 30%, #fff3f4);
                    border: none;
                    border-left: 4px solid #dc3545;
                    color: #842029;
                    border-radius: 0.5rem;
                }
            </text>
        }
    </style>
}

<div class="card p-4 mb-5 shadow rounded w-100">
    <div class="card-body">
        @if (Model.InvalidToken)
        {
            <div class="d-flex justify-content-center mb-4 display-6">
                <i class="fa-solid fa-triangle-exclamation text-danger "></i>
                <h2 class="fw-bold text-danger ms-2">@L["ResetPasswordError"]</h2>
            </div>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="fa-solid fa-circle-exclamation fs-4 me-3"></i>
                @LI["Volo.Abp.Identity:InvalidToken"]
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                <a class="btn btn-outline-danger rounded-pill px-4" asp-page="./Login">
                    <i class="fa-solid fa-arrow-left"></i>
                    @L["BackToLogin"]
                </a>
                <a asp-page="./ForgotPassword" class="btn btn-danger rounded-pill px-4">
                    <i class="fas fa-key me-2"></i>重新获取链接
                </a>
            </div>
        }
        else
        {
            <h4 class="mb-3 text-center text-primary">@L["ResetPassword"]</h4>
            <p class="text-muted text-center">@L["ResetPassword_Information"]</p>
            <div class="d-flex flex-column">
                <form method="post" class="needs-validation" novalidate>
                    <div>
                        <input asp-for="UserId" placeholder="@Html.DisplayNameFor(m => m.UserId)" class="form-control" />
                    </div>
                    <div>
                        <input asp-for="ResetToken" placeholder="@Html.DisplayNameFor(m => m.ResetToken)" class="form-control" />
                    </div>
                    <div class="row mb-4 col-12">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            <input asp-for="Password" placeholder="@Html.DisplayNameFor(m => m.Password)" class="form-control" />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row mb-4 col-12">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-check-double"></i></span>
                            <input asp-for="ConfirmPassword" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)" class="form-control" autocomplete="new-password" />
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="row mb-4 col-12">
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary" asp-page="./Login">@L["Cancel"]</a>
                            <button type="submit" class="btn btn-primary ms-2" name="button" value="login">@L["Submit"]</button>
                        </div>
                        @* <div class="input-group">
                        <a class="btn btn-secondary" asp-page="../Login">@L["Cancel"]</a>
                        <button type="submit" class="btn btn-primary" name="button" value="login">@L["Submit"]</button>
                    </div> *@
                    </div>

                </form>
            </div>
        }
    </div>
</div>

